{% extends 'base_template.html' %}

{% block title %}
    <title>Videos</title>
{% endblock %}

{% block content %}
    <h2>All videos</h2>
    {% if videos %}
        {% for video in videos %}
            <p><a href="{% if video.is_processed %}{{ video.get_absolute_url }}{% endif %}">{{ video.name }}</a> {% if not video.is_processed %}Processing...{% endif %}</p>
        {% endfor %}

        <br>

        {% if emotions %}
            <h2>Emotion percentage</h2>
            {% for emotion in emotions %}
                <p>{{ emotion }}%</p>
            {% endfor %}

        {% endif %}

    {% else %}
        <p>You haven't tested any application!</p>
    {% endif %}
{% endblock %}